.about {
    -webkit-box-shadow: inset -4px -600px 800px 300px rgba(0,0,0,5);
    -moz-box-shadow: inset -4px -600px 800px 300px rgba(0,0,0,5);
    box-shadow: inset -4px -200px 300px 200px rgba(0,0,0,5);
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(../assets/images/banner_02.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.about__content {
    align-items: center;
    padding: 3em 15em 10em 15em;
    gap: 2em;
    display: grid;
    grid-template-columns: 50% 50%;
}

.about__text,
.about_content__text {
    line-height: 1.5em;
    font-size: 1em;
    margin: 2em 0;
    color: var(--title-color);
}

.about_content__text {
    color: var(--font-color);
}

.about__title {
    font-size: 4em;
    letter-spacing: normal;
    font-weight: 700;
    color: var(--title-color);
}

.about_content__title {
    font-size: 2em;
    letter-spacing: normal;
    font-weight: 700;
    color: var(--title-color);
}

.about__content {
    background-color: var(--black);
}

.about_content__cards {
    justify-content: space-between;
    display: flex;
    gap: 2em;
}

.about_content_cards__item {
    width: 100%;
    transition: transform 0.5s ease;
    border: 1px solid rgb(31, 31, 31);
    border-radius: 1.5em;
    padding: 2em;
    color: var(--font-color);
    background: hsla(0, 0%, 0%, 1);
    background: linear-gradient(45deg, hsla(0, 0%, 0%, 1) 0%, hsla(0, 0%, 6%, 1) 100%);
    background: -moz-linear-gradient(45deg, hsla(0, 0%, 0%, 1) 0%, hsla(0, 0%, 6%, 1) 100%);
    background: -webkit-linear-gradient(45deg, hsla(0, 0%, 0%, 1) 0%, hsla(0, 0%, 6%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#000000", endColorstr="#101010", GradientType=1 );
}

.about_content_cards__item:hover {
    transform: scale(1.02) ;
    cursor: pointer;
    background: var(--black);
}

.about_content_cards__item h3{
    margin-bottom: 0.5em;
    font-size: 1.5em;
    letter-spacing: normal;
    font-weight: 700;
    color: var(--title-color);
}

.about_content__right {
    gap: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about_content__right div {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.about_content_right__cards {
    line-height: 1.5em;
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease;
    border: 1px solid rgb(31, 31, 31);
    border-radius: 1.5em;
    padding: 2em;
    color: var(--font-color);
    background: hsla(0, 0%, 0%, 1);
    background: linear-gradient(45deg, hsla(0, 0%, 0%, 1) 0%, hsla(0, 0%, 6%, 1) 100%);
    background: -moz-linear-gradient(45deg, hsla(0, 0%, 0%, 1) 0%, hsla(0, 0%, 6%, 1) 100%);
    background: -webkit-linear-gradient(45deg, hsla(0, 0%, 0%, 1) 0%, hsla(0, 0%, 6%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#000000", endColorstr="#101010", GradientType=1 );
}

.about_content_right__cards:hover {
    transform: scale(1.02) ;
    cursor: pointer;
    background: var(--black);
}

.about_content_right__cards h3 {
    margin-bottom: 1em;
    font-size: 1.3em;
    font-weight: 700;
    color: var(--title-color);
}