<header class="header">
    <a class="header__logo" target="_self" href="../index.html">
        <i id="header_logo__icon" class='bx bx-code-curly'></i>
        <span>Projeto Integrador</span>
    </a>
    <nav>
        <ul class="header__navbar">
            <li><a target="_self" href="../form.html">Formulário</a></li>
            <li><a target="_self" href="../technologies.html">Tecnologias</a></li>
            <li><a target="_self" href="../definitions.html">Definições</a></li>
            <li><a target="_self" href="../about.html">Sobre</a></li>
        </ul>
    </nav>
</header>